.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px !important;
}

.form_container {
    /* width: 40%; */
}

.custom-class-name {
    /* background-color: red; */
}